@import '../../style/variables.scss';

.search {
	position: relative;
}
.notionSearch {
	display: block;
	width: 260px;
	height: 50px;
	margin: 28px 28px 10px 28px;
	border-radius: 10px;
	border: solid;
	border-color: $main-color;
	padding-left: 40px;
	font-size: 25px;
	color: $main-color;
	&::placeholder {
		font-size: 25px;
		color: $main-color;
	}

	&__vector {
		display: block;
		position: absolute;
		top: 15px;
		left: 40px;
		width: 22px;
	}
	&:focus {
		border-color: $hard-color;
		border: solid;
	}
}
