@import '../../style/variables.scss';

.notionSearch {
	display: block;
	width: 260px;
	height: 50px;
	margin: 28px;
	border-radius: 10px;
	border-color: $main-color;
	padding: 15px;
	font-size: 25px;
	color: $ez-color;
}
